body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #C2B4D6  
}

.bg-body-tertiary{
  position: sticky;
  top:0;
  z-index:9999;
  background-color: #57648C !important;
  margin-bottom: 12px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.imgKontejner{
  object-fit: scale-down;
}

.loginForm{
  border: 2px solid teal;
  border-radius: 15px;
  padding: 25px;
  font-size: medium;
  width: 50vw;
  text-align: start;
  margin-top: 8px;
}

.center_stupac{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.center_vertical{
  margin-top:58px;
}

.naslovna_linkovi{
  display: flex;
  justify-content: space-evenly;
  margin-top:50px;
}

.naslovna_linkovi a{
  width:200px;
}

.gumb_grupa{
  width: 360px;
  margin: 10px auto;
}

.komentar_glava{
  display: flex;
  justify-content: space-between;
}

.kontejner{
  display:flex;
  justify-content: space-between;
  align-items: baseline;
}

.glumciFilm{
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 5px;
}

.border{
  border: 1px solid black;
}