body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.imgKontejner{
  object-fit: scale-down;
}

.loginForm{
  border: 1px solid black;
  border-radius: 15px;
  padding: 25px;
  font-size: medium;
  width: 50vw;
  text-align: start;
}

.center{
  display:flex;
  flex-direction: column;
  margin-top: 10vh;
  align-items: center;
}